{:http-server-root  "resources/public"                     ;; this will be in resources/                                ;; default
 :server-port       3000                                    ;; default
 :open-file-command "emacsclient"
 :server-logfile    "target/figwheel-logfile.log"
 :builds            [{:id            "dev",
                      :source-paths  ["src" "dev"]
                      :figwheel      {:devcards true}
                      :build-options {:main                 "user"
                                      :asset-path           "js/compiled/out"
                                      :output-to            "resources/public/js/compiled/app.js"
                                      :output-dir           "resources/public/js/compiled/out"
                                ;      :devcards             true
                                      :source-map-timestamp true
                                      :parallel-build       true
                                      :optimizations        :none
                                      :verbose              true}}]
}